<h2><b>ABOUT ME </b></h2>
<p>
I am a versatile person, an all rounder person flexible and adaptable  and someone who will carry out task. I aspire to learn and grow in a new environment where I can enhance and sharpen my skills and have a opportunity to expand my knowledge in the field of Information Technology, Programming and Web Development.
</p>

<p>
  Birthday / 
  4th July 2002 
</p>

<p>
  E-mail raskinsalalila2@gmail.com
</p>

<p>Age / 
  21 Yr
</p>

<p>
  Phone / 
  09345678910
</p>

<p>
  Address / 
  Porac, Pampanga
</p>

