<div class="back">
  <h1><b>ABOUT ME </b></h1>
<img class="circular--square" src="https://stackblitz.com/files/angular-ivy-cxqgfh/github/ayuumii/cv/main/src/asset/salalila.jpg">

<div class="text">
 <!--interpolation -->
  {{ name }}<br />
 {{about}}

 <p>I want to develop and learn in a new environment where I can flourish, improve
 and sharpen my skills and gain experience in the field of Information
 Technology.</p>
<br />
<!--Property Binding-->
<p>Birthday / 4th July 2002</p>
email
<input type="text" [value]="clientName">
<br>
age
<input type="text" [value]="clientAge">

<!--style/class binding-->
<br>
<p [style.color]=mycolor>Phone / 09345678910</p>
<br />

<p [class.blue]="appliedCSSClass"> Address / Porac, Pampanga</p>
</div>
</div>